*{
    margin: 0;
    padding: 0;
}
section{
    width: 100%;
    height: 100%;
    background-color: rgb(192, 191, 191);
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(30, 136, 118);
    padding: 20px;
}

.logo-container {
    margin-right: 20px;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin-right: 20px;
    margin-bottom: 1px;
}

.nav-menu li {
    border-radius: 60px;
    margin-left: 20px;
    font-family: "나눔스퀘어라운드";
}

.nav-menu li:first-child {
    margin-left: 0;
}

.nav-menu li a {
    text-decoration: none;
    color: white;
    margin-right: 11px;
}

#texter{
    position: absolute;
    left: 52%;
    width: 25%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    transform: translateX(-50%);
    
}
#mainimg{
    position: absolute;
    left: 50%;
    width: 15%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    transform: translateX(-50%);
    margin-top: 5%;
}


#solid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
}

#solid img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 10px;
}

@media (max-width: 1080px) {
    footer {
        margin-top: 50%;
        width: 100%;
        height: 30vh;
        background-color: black;
    }
    .logo-container {
        margin-right: 1px;
    }

    .nav-menu {
        flex-wrap: wrap;
    }

    .nav-menu li {
        margin-left: 1px;
        
    }

    .nav-menu li a {
        text-decoration: none;
        color: white;
        font-size: 12px; /* 원하는 폰트 크기로 수정하세요 */
        margin-right: zpx;
    }

    #solid img {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin: 10px;
    }

}
.one{
    transition: transform 0.3s;
}
.one:hover{
    transform: scale(1.1);
}
footer{
    
    margin-top: 640px;
    width: 100%;
    height: 25vh;
    background-color: black;
}
#help{
    font-size: 20px;
    color: white;
    margin-left: 60px;

}
#lol{
    display: flex;
}
#lol2{
    margin-left: 50px;
    display: flex;
}
#img3{
    margin-top: 50px;
}
